<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header class="header">
    <%- include('partials/header'); %>
</header>
<div class="login-container">
    <div>
        <h1 class="login-title"> Login </h1>
        <h3 class="text-red-500"><%= data.errorMessage %></h3>
        <% if(data.strategy === "local"){ %>
        <form method="post">
            <div class="login-input-field">
                <div>
                    <span><i class="fas fa-user-circle"></i></span>
                </div>
                <input type="text" name="username" placeholder="Username" required/>
            </div>
            <div class="login-input-field">
                <div>
                    <span><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" name="password" placeholder="Password" required/>
            </div>
            <button type="submit"> Login </button>
        </form>
        <% } else if("saml") { %>
            <button type="submit" class="rounded-lg inline-flex items-center bg-green-600 text-white hover:bg-green-700 py-2 px-2 md:px-4" onclick="window.location.href='/login/sso';"> Login with SAML </button>
        <%}%>
    </div>
</div>
<%- include('partials/foot'); %>
</body>
</html>
